<html>
<head>
<style>
    small {
        display: block;
    }
    .bold {
        font-weight: bold;
    }
    .capitalize {
        text-transform: capitalize;
    }
    .facetContainer {
        flex-wrap: wrap;
        display: flex;
    }
    .facetItem {
        flex: 1 0 auto;
    }
    .disabled {
        color: currentColor;
        cursor: not-allowed;
        opacity: 0.5;
        text-decoration: none;
    }
</style>
</head>
<body>
<h2>Sources</h2>
<div class="facetContainer">
    <% sources.forEach(function (source){ %>
    <div class="facetItem">
        <h3><%= source.display %> - <%= source.name %></h3>
        <ul>
            <li><b>Status: <%= source.status %></b></li>
            <li>Tracks Discovered (since app started): <%= source.tracksDiscovered %></li>
            <% if (source.canPoll === true) { %>
            <li>Click <a target="_blank" <% if (!source.hasAuth || source.authed) { %> href="recent?name=<%= source.name %>&type=<%= source.type %>" <% } else { %>class="disabled"<% } %>>to see recently played tracks returned by API</a></li>
                <% if (source.hasAuth) { %>
            <li>Click <a target="_blank" href="auth?name=<%= source.name %>&type=<%= source.type %>">to (re)authenticate and (re)start polling</a></li>
                <% } %>
            <li>Click <a target="_blank" <% if (!source.hasAuth || source.authed) { %> href="poll?name=<%= source.name %>&type=<%= source.type %>" <% } else { %>class="disabled"<% } %>>to restart polling</a></li>
            <% } %>
        </ul>
    </div>
    <% }) %>
</div>

    <h2>Log (Most Recent)</h2>
    <ul>
        <li>Level : <%- logs.level %> </li>
        <li>Sort  : <%- logs.sort %></li>
        <li>Limit : <%- logs.limit %></li>
    </ul>
<pre>
<% logs.output.forEach(function (logEntry){ %>
<%=logEntry%><% }) %>
</pre>
</body>
</html>
